@model ViewModels.FitbitDisconnectedSettings

<p class="mb-4 text-gray-600 dark:text-gray-400">
    Fitbit is not connected. Please connect to start pulling in data.
</p>
<a
    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
    href="@Model.AuthUri">
    Connect Fitbit
</a>
