source https://api.nuget.org/v3/index.json

storage: none
framework: net5

nuget Argu
nuget FsConfig
nuget Hopac
nuget Http.Fs
nuget FSharp.Core
nuget FSharp.Data
nuget FsToolkit.ErrorHandling
nuget Giraffe
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Logging

nuget Logary.Adapters.Facade
nuget Bogus
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget Microsoft.AspNetCore.TestHost
