<button
    class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
    aria-label="Account"
    aria-haspopup="true">
    <img
        class="object-cover w-8 h-8 rounded-full"
        asp-append-version="true"
        src="~/images/bromanko.jpeg"
        alt="Brian Romanko"
        aria-hidden="true"/>
</button>
